@media (min-width: 992px) {
	.benchmarks {
		margin-left: -80px;
	}
}

.benchmark-table {
	height: 150px;
}

.packets-per-second,
.client-to-server-ellapsed-ms,
.server-to-client-ellapsed-ms {
	font-weight: 700;
}